// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$green-background: #DAE8D1;
$green-text: #285327 opacity 81;
$green-button:#285327 opacity 65;
$light-button-text: #DAE8D1 ;
$green-fill-form: #285327 opacity 23;
$green-fill-form-text: #285327 opacity 65;
$green-cards: #285327 opacity 23;
