.homepage-container {
  text-align: center;
  padding: 20px;
}

.homepage-heading {
  color: darkgreen;
  margin-bottom: 20px;
}

.image-container {
  margin-bottom: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
  height: 38px; 
  line-height: 38px; 
  text-align: center; 
}

.btn-primary {
  width: 100%;
  max-width: 300px;
  background-color: darkgreen;
  border-color: darkgreen;
}

.btn-primary:hover {
  background-color: darkgreen;
}
