<div class="homepage-container">
  <h1 class="homepage-heading">Connect with farmers.</h1>
  <h1 class="homepage-heading">Buy locally.</h1>
  <h1 class="homepage-heading">Be sustainable.</h1>

<%# Bild %>
  <div class="image-container">
    <%= image_tag("markt_basket.png", alt: "Market Basket", style: "width: 300px;") %>
  </div>

<%# Formular %>
  <div class="form-container">
    <%= form_tag("/search", method: "get") do %>
      <%= text_field_tag(:postcode, nil, placeholder: "Postcode:", class: "fillform-home") %>
    <% end %>
    <%= link_to farmers_path, class: "dropdown-item" do %>
      <button class="btn btn-primary btn-block button">
        Search
      </button>
    <% end%>
  </div>
</div>
