.button {
   background-color: rgb(40, 83, 39) !important;
   color: rgb(245, 245, 245);
   border-radius: 5px;
   text-align: center;
      width: 100%;
   max-width: 300px;
   margin-bottom: 20px;
   height: 38px;

   // buttons are in the pages show, checkout, login, signup, home
  //  line-height: 38px;
   // padding: ;


   // font-style: italic;
   // border: none!important;
   // box-shadow: none!important;
   // border-radius: 5px;
   // text-align: center;

   // &:focus {
   //   background-color: #2853274b;
   //   border: none;
   // }

  // padding: ;

}

// .button-primary-lg
// .button-primary-md
// .button-primary-sm

.buttons-box {
  position: fixed;
  bottom: 500px;
  left: 270px;
  border-radius: 50%;
}

.button-round {
  border-radius: 50%;
}

#chat-button-bottom {
  position: fixed;
  bottom: -5px;
  left: 9px;
  z-index: 9999;
}

#chat-button-bottom button {
  background-color: rgba($color: #000000, $alpha: 0);
  border: none;
}

#login-submit-button {
max-width: 201.5px
}
