.button {
   background-color: rgb(40, 83, 39) !important;
   color: rgb(245, 245, 245);
   border-radius: 5px;
   text-align: center;
      width: 100%;
   max-width: 300px;
   margin-bottom: 20px;
   height: 38px;

   // buttons are in the pages show, checkout, login, signup, home
  //  line-height: 38px;
   // padding: ;


   // font-style: italic;
   // border: none!important;
   // box-shadow: none!important;
   // border-radius: 5px;
   // text-align: center;

   // &:focus {
   //   background-color: #2853274b;
   //   border: none;
   // }

  // padding: ;

}

// .button-primary-lg
// .button-primary-md
// .button-primary-sm
