
// index-page
  .card-farmer-index {
    position: relative;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.56);
    outline: none;
    margin-bottom: 20px;
    border-radius: 15px;
  }

  .card-farmer-img-index {
    height: 140px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 10px;
  }

  .card-farmer-content-index {
    margin-top: 1px;
    margin-bottom: 10px;
  }

  .card-farmer-details-index {
    // h2 farmer title und desc and adress
    display: flex;
    flex-direction: column;
  }

      //farmer cards
      .title-farmer-index {
        // farmer h1
        font-size: 17px;
        font-weight: bold;
        margin: 0 0 3px;
      }

      .font-enlarge-index {
        font-size: 28px;
      }

      .card-farmer-content-index {
        margin-top: 1px;
        margin-bottom: 10px;
      }

      .card-farmer-details-index {
        // h2 farmer title und desc and adress
        display: flex;
        flex-direction: column;
      }

  .text-dark-green-index {
    color: #006400;
  }


// search-page
  .card-farmer-search {
    position: relative;
    overflow: hidden;
    background:rgba(255, 255, 255, 0.56);
    outline: none;
    margin-bottom: 20px;
    border-radius: 15px;
  }

  .card-farmer-content-search {
    margin-top: 1px;
    margin-bottom: 10px;
  }

  .card-farmer-details-search {
    // h2 farmer title und desc and adress
    display: flex;
    flex-direction: column;
  }

    //product card
    .product-card-search {
      width: 48%;
      border-radius: 15px;
    }

    .card-product-img-search {
      height: 200px;
      width: 100%;
      object-fit: cover;
      border-radius: 15px;
    }


//show-page
  //title h1
  .font-enlarge-show {
    font-size: 28px;
  }
    //farmer card
    .card-farmer {
      position: relative;
      overflow: hidden;
      background:rgba(255, 255, 255, 0.56);
      outline: none;
      margin-bottom: 20px;
      border-radius: 15px;
    }

    .card-farmer-content-show {
      margin-top: 1px;
      margin-bottom: 10px;
    }

    .card-farmer-details-show {
      // h2 farmer title und desc and adress
      display: flex;
      flex-direction: column;
    }

    .card-farmer-details .description-profile-show{
      font-size: 12px;
      color: #333;
    }

    // .description-profile-show{
    //   font-size: 12px;
    //   color: #333;
    // }

    //product cards
    .product-card {
      width: 48%;
      border-radius: 15px;
    }

    .card-product-img {
      height: 200px !important;
      width: 100%!important;
      object-fit: cover;
      border-radius: 15px;
    }

    .description-farm-show {
      padding: 20px;
      background-color: rgba(40, 83, 39, 0.23);
      border-radius: 15px;
      margin: 10px 0;
      box-sizing: border-box;
    }


//dashboard
  // basket_orders?
  .green-box-dashboard {
    // background-color: #0064004b;
    padding: 15px;
    border-radius: 15px;
    margin-top: 30px;
  }

  .product-image-dashboard {
    border-radius: 15px 0 0 15px;
  }

  .product-box-dashboard {
    border: solid 0.5px #006400;
    background-color: #0064001b;
    align-items: center;
    border-radius: 15px;
  }










// outtakes-if it brakes its here:
// cards
// .card-farmer {
//   position: relative;
//   overflow: hidden;
//   background: rgba(40, 83, 39, 0.23);
//   outline: none;
//   margin-bottom: 20px;
//   border-radius: 15px;
// }

// .card-farmer-show {
//   position: relative;
//   overflow: hidden;
//   // background: rgba(40, 83, 39, 0.23);
//   outline: none;
//   margin-bottom: 20px;
//   border-radius: 15px;
// }

// .font-enlarge {
//   font-size: 28px;
// }

//  .card-farmer-content {
//   margin-top: 1px;
//   margin-bottom: 10px;
// }

// .card-farmer-details {
//   // h2 farmer title und desc and adress
//   display: flex;
//   flex-direction: column;
// }

//can't find this:
// .card-farmer-details p {
//   margin: 5px 0;
// }

// //.card-farmer-details i {
//   margin-right: 5px;
// }

// // .card-farmer-details .title{
//   font-size: 12px;
//   color: #333;
// }

// .card-farmer-details .description-profile{
//   font-size: 12px;
//   color: #333;
// }

//can't find this
// .card-farmer-details .address {
//   font-size: 12px;
//   color: #333;
// }

// .product-card {
//   width: 48%;
//   border-radius: 15px;
// }

// .card-product-img {
//   height: 200px;
//   width: 100%;
//   object-fit: cover;
//   border-radius: 15px;
// }

//can't find this
// .card-farmer-details .user a, .title-farmer a {
//   color: #006400;
// }

//.text-center {
//   text-align: center;
// }

//.card-farmer-details .mb-2 {
//   margin-bottom: 5px;
// }

//can't find this
//.new-farmer-card {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   margin-bottom: 20px;
//   overflow: hidden;
//   box-sizing: border-box;
// }

//can't find this
// .main-photo {
//   width: 100%;
// }

// .main-photo img {
//   width: 100%;
//   height: auto;
//   object-fit: cover;
//   border-radius: 15px;
//   margin-bottom: 10px;
// }





// h1bfarmer{
//   font-family: 'Inter', sans-serif;
//   color: $green-text;
//   opacity: 0.81;
//   font-size: 15px;
//   font-weight: bold;
// }

// h2 farm{
//   font-family: 'Inter', sans-serif;
//   color: $green-text;
//   opacity: 0.65;
//   font-size: 11px;
//   font-weight: medium;
// }

// p desc{
//   font-family: 'Inter', sans-serif;
//   color: $green-text;
//   opacity: 0.65;
//   font-size: 11px;
//   font-weight: regular;
// }

// p adress{
//   //   font-family: 'Inter', sans-serif;
//   //   color: $green-text;
//   //   opacity: 0.65;
//   //   font-size: 10px;
//   //   font-weight: semi-bold;
//   // }

.farmer-photo {
  border-radius: 10px;
  // height: 250px;
}
