#product-main {
  margin-bottom: 85px;
}

#product-footer {
  background-color: rgba(218, 232, 209, 0.5);
  backdrop-filter: blur(10px);
}

#chat-icon {
  // background-color: #ffffff; /* Iconbackground */
  color: rgb(40, 83, 39); /* Iconcolor */
  font-size: 23pt;
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
}
