.navbar-lewagon {
  justify-content: space-between;
  background: rgb(218, 232, 209);
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 38px;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.fa-solid.fa-bars {
font-size: 32px;
color: rgb(40, 83, 39);
opacity: 0.81;
}

.nav-link {
  font-family: 'Karantina', sans-serif;
  font-weight: bold;
  font-size: 55px;
  color: rgb(40, 83, 39);
  opacity: 0.81;
}

.navbar-brand {
  margin-right:0px;
}
